<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/8752/8752096.png">
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body{
            height: 100vh;
            width: 100%;
        }
        main {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            gap: 2rem;
            align-items: center;
        }
    </style>
    <title>HealthTray</title>
</head>
<body>
    <main>
        <H1>Welcome to HealthTray!</H1>
        <h2>Butuh Delivery makanan sehat?</h2>
        <a href="/login-register">Ayuk Pesen</a>
    </main>
</body>
</html>