<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/8752/8752096.png">
    <title>HealthTray</title>
    <style>
        *, html {
            margin: 0;
            padding: 0;
            white-space: pre-line;
        }

        body {
            margin-top: -1rem;
            min-height: 100vh;
            width: 100%;
        }

        nav {
            height:4rem;
            font-size: 1.4rem;
            background: #76a55a;
            margin:0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            position: fixed; 
            top: 0;
            width: 100%;
            padding: 0.1rem 2rem;
            z-index: 100;
        }

        #HealthTray {
            font-size: 2rem;
            font-weight: 700;
            color: white;
        }

        nav a {
            color:white;
            text-decoration: none;
            transition: all 0.2s ease;
        }

        nav a:hover {
            color: rgb(255, 165, 165);
        }

        main {
            width: 85%;
            margin: auto;
            margin-top: 4rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        td a{
            text-decoration: none;
            padding: 0.1rem 1rem;
            border: 1px solid rgb(6, 223, 6);
            border-radius: 0.3rem;
            background-color: rgb(6, 223, 6);
            color: white;
            transition: all 0.2s ease;
        }

        td a:hover {
            background-color: white;
            color: rgb(6, 223, 6);
        }

        .deleteButton {
            border: red;
            background-color: red;
            color: white;
        }

        .deleteButton:hover {
            border: 1px solid red;
            background-color: white;
            color: red;
        }

        table {
            width: 100%;
            margin-bottom: 2rem;
        }
        th, td {
            text-align: left;
            padding: 0.5rem;
            padding-left: 1rem;
            line-height: 2rem;
        }
        th {
            border-bottom: 1px solid rgb(70, 70, 70);
        }
        img {
            width: 15rem;
            max-height: 13rem;
        }

        .pageButton {
            display: flex;
            justify-content: center;
            align-items: center;
            width: fit-content;
            padding: 0.125rem;
            height: 2rem;
            border: 1px solid grey;
            border-radius: 0.5rem;
            color:white;
            text-decoration: none;
            padding: 0.3rem 1rem;
            background-color: rgb(6, 223, 6);;
            transition: 0.2s;
            position: relative;
            font-size: 1.5rem;
        }

        .pageButton:hover {
            color: rgb(6, 223, 6);
            background-color: white;
        }

        .pageButton:active {
            top: 2px;
        }

    </style>
</head>
<body>
    <nav>
        <a href="/"><h1 id="HealthTray">HealthTray</h1></a>
        <div style="display:flex; flex-direction: row; justify-content: center; align-items: center; gap:3rem; margin-right: 5rem;">
            <a href="/editProfile/<%= UserId %>">Edit Profile</a>
            <a href="/signout" 
                style="display: flex; justify-content: center; align-items: center; padding:0.5rem 1rem; background-color: #F96666; border-radius: 0.5rem;">
                <p>Sign Out</p></a>
        </div>
    </nav>
</body>
</html>